<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ '/' | relative_url }}"><img width="{{ site.headerlogo.desktop_width }}" height="{{ site.headerlogo.desktop_height }}" alt="{{ site.title }}" src="{{ site.headerlogo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.headerlogo.mobile_width }}" height="{{ site.headerlogo.mobile_height }}" alt="{{ site.title }}" src="{{ site.headerlogo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
