<section class="hero {{ include.bg_color | default: 'bg-white' }}  py-8" {% if include.id %}id="{{ include.id }}"{% endif %}>
  <div class="container">
    <div class="row align-items-center mb-2">
      <div class="col-md-12">
        <h2>{{ include.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 order-md-1">
        <div class="subtitle">
        {{ include.content | markdownify }}
        </div>
      </div>
      <div class="col-md-6 order-md-2 text-center">
        <img src="{{ include.image | relative_url }}" class="img-fluid" alt="" {% if include.image_width %}width="{{ include.image_width }}"{% endif %}>
        {% if include.button_text %}<div class="pt-2 text-center"><a class="button button-{{ include.element }} text-uppercase" href="{{ include.button_link |relative_url }}" role="button">{{ include.button_text }}</a></div>{% endif %}
      </div>

    </div>
  </div>
</section>