.bottom-footer {
  background: black;
  color: $sub-footer-text-color;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 13px;
  .acknowledgment {
    border-top: 1px solid $earth;
    border-bottom: 1px solid $earth;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 10px 20px 20px;
  }

}
